# IDE STUFF
.idea
.vscode

# PACKAGE MANAGER
**/node_modules
npm-debug.log

# TYPESCRIPT
packages/**/.baseDir.ts
packages/**/.tscache

# CUSTOM FILES
.git
packages/*.js
packages/*.js.map
packages/**/dist
