.git*
.DS_Store
node_modules
npm-debug.log
coffeelint.json
.editorconfig
.idea
.vscode
**/.baseDir.ts
.tscache
**.tmp.txt
secret.json
src/**/*.js.map
src/**/*.spec.js
src/**/*.spec.ts
src/**/*.spec.js.map